body,html{
    height: 100%;
}
.monitor#dashboard {
    height: 100%;
}

.monitor#hostsDashboard {
    background-color:#f8faf3;
    padding:10px;
    position:relative;
    height: 500px;
}
.monitor.navy {
    background-color: #eee;
    padding:5px;
    border: 1px #ccc dotted;
}
.monitor.host {
    position: absolute;
    padding: 10px;
    margin: 5px;
    background-color: #fff;
    width: 300px;

    border: 2px rgb(189, 186, 186) solid;

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;

    -moz-box-shadow:  3px 3px 10px 0px rgba(128, 128, 128, 0.42);
    -webkit-box-shadow:  3px 3px 10px 0px rgba(128, 128, 128, 0.42);
    box-shadow:  3px 3px 10px 0px rgba(128, 128, 128, 0.42);
}
.monitor.service .title{
    font-weight:bold;
    border-bottom: #f3f3f3 solid 1px;
    background-color: #fafafa;
}

